@mSmallWidgetWidth: 100px;
@mSmallWidgetHeight: 120px;
@mWidgetMinHeight: 170px;

.mOSmallWidget {
    width: @mSmallWidgetWidth;
    height:  @mSmallWidgetHeight;
    margin: auto;
    vertical-align: top;
}

.mOFullWidget {
    vertical-align: top;
    display: block;
    width: auto;
    box-sizing: border-box;
}

.mOWidgetBox {
    min-height: @mWidgetMinHeight;
    vertical-align: top;
}
